UPS_CLIENT_ID=
UPS_CLIENT_SECRET=
UPS_BASE_URL=https://onlinetools.ups.com
REQUEST_TIMEOUT=5000

# UPS AUTHENTICATION
UPS_CLIENT_ID=your_client_id
UPS_CLIENT_SECRET=your_client_secret
UPS_TOKEN_URL=https://wwwcie.ups.com/security/v1/oauth/token
UPS_API_BASE_URL=https://wwwcie.ups.com/api